In [5]:
from sqlalchemy import create_engine
import pandas as pd

# Read Data

In [7]:
engine = create_engine('postgresql://postgres:SUA_SENHA@localhost:5432/stockmarket')

def read_ticks(asset, startDate, endDate, period):
    df = pd.read_sql_query("select * from tintraday where symbol="+ "'" + asset + "'" +" and date BETWEEN "+ "'" + startDate+ "'" +" AND "+ "'" +endDate+ "'" + " order by date asc" ,con=engine)
    return df

#data = read_ticks('MULT3','2018-04-01','2019-06-15','0')
data = read_ticks('DOLG19','2019-01-01','2019-02-28','0')
data.head()

,tradenumber,symbol,date,brokerbuy,brokersell,price,tradeindicator,volume
0,350,DOLG19,2019-01-02 09:00:39.896,27,16,3888.0,1,50
1,290,DOLG19,2019-01-02 09:00:39.896,122,16,3888.0,1,5
2,280,DOLG19,2019-01-02 09:00:39.896,122,16,3888.0,1,5
3,210,DOLG19,2019-01-02 09:00:39.896,27,16,3888.0,1,50
4,150,DOLG19,2019-01-02 09:00:39.896,114,16,3888.0,1,30